/* style for tribute page San Martin */
/* HTML elements */

h1 {
	font-family: 'Satisfy', cursive;
	color: white;
}

/* ID elements */
#top-section {
	padding-top: 70px;

	
}

/* CLASS elements */
.icon-image {	
	border-radius: 50%;
	width: 70px;
	height: 70px;
	margin-top: -15px;
}
.page-width {
	width: 80%;
}
.img-main {
	height: 40vh;
	margin: 0 auto;
	border-radius: 70%;
	border:  inset 1px white;
}
.first-section { 
	background: url(/img/cordillera_de_los_andes.jpg); 
	background-position: center center;
	background-size: cover;
	height: 95vh;
}
.second-section {
	background: white;
	padding-top: 20px;
}
.third-section {
	background: white;
}

