/* style for tribute page San Martin */
/* HTML elements */

h1 {
	font-family: 'Satisfy', cursive;
	font-size: 3.2em;
	color: white;

}
h2 {
	font-family: 'Satisfy', cursive;
	font-size: 3em;
}
h3 {
	font-family: 'Parisienne', cursive;
	font-size: 3em;
}
h4	{

}
header {
		border-bottom: solid 2px #292b2d;
}
footer {
	background: #384251;
	border-top: solid 2px #292b2d;
	padding: 20px;
}

/* ID elements */
#top-section {
	padding-top: 70px;
}

/* CLASS elements */
.icon-image {	
	border-radius: 50%;
	width: 70px;
	height: 70px;
	margin-top: -15px;
}
.page-width {
	width: 80%;
}
.img-main {
	height: 40vh;
	margin: 0 auto;
	border-radius: 70%;
	border:  inset 1px white;
}

.first-section { 
	background: url(/img/cordillera_de_los_andes-1.jpg); 
	background-position: center center;
	background-size: cover;
	height: 90vh;
}
.second-section {
	background: white;
	padding-top: 20px;
}
.third-section {
	background: white;
}
.footer-list li{
	color: white;
}

